button {
    padding: 80px 80px;
    font-size: 150%;
    
}

button:hover {
    background-color: aqua;
}

button:active {
    background-color: gray;
}

p {
    font-size: 200%;
}

.OP {
    background-color: orange;
}

#equal {
    background-color: green;
}

#equal:hover {
    background-color: greenyellow;
}

.DEL {
    background-color: red;
}

.DEL:hover {
    background-color: orangered;
}

body {
    background-color: gray;
}